body { 
    background: url(http://imgur.com/TUm2E8V.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.dropdown-menu {
  font-family: 'Open Sans', sans-serif;
}
.navbar-text {
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
  font-size: 15px;
}
h1 {
  color: #2aabd2;
  font-family: 'Montserrat', sans-serif;
}
h2 {
  color: black;
  font-family: 'Montserrat', sans-serif;
}
h3 {
  color: black;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-style: italic;
}
#htmlbtnLogout {
    color: black;
    font-family: 'Lora', serif;
    font-size: 17px;
  }
#li {
    font-family: 'Lora', serif;
    font-style: italic;
  }
a {
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
  font-size: 15px;
}
.navbar-brand {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-style: italic;
  font-style: bold;
}
.navbar-text {
    color: black;
    font-family: 'Lora', serif;
    font-size: 15px;
    font-style: bold;
    display:inline-block;
  }
.material-icons {
    font-size: 36px;
    top: 8px;
    position: relative;
  }
img {
  float: right;
}
h4 {
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
  font-size: 18px;
}
input[type=file] {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
.modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px;
    font-family: 'Lora', serif;
    font-size: 16px;
}
/*gallery*/
div.gallery {
    border: 1px solid #323232;
    margin: auto;
}
div.gallery:hover {
    border: 1px solid #777;
}
div.gallery img {
    width: 100%;
    height: auto;
}
div.desc {
    padding: 8px;
    font-family: Lato;
    background-color: #323232;
    color: #d5eaff;   
}
* {
    box-sizing: border-box;
}
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}
@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}
@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}