body { 
    background: url(https://i.imgur.com/TUm2E8V.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.dropdown-menu {
  font-family: 'Open Sans', sans-serif;
}
.navbar-text {
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
  font-size: 15px;
}
h1 {
  color: #2aabd2;
  font-family: 'Montserrat', sans-serif;
}
h2 {
  color: black;
  font-family: 'Montserrat', sans-serif;
}
h3 {
  color: black;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-style: italic;
}
#htmlbtnLogout {
    color: black;
    font-family: 'Lora', serif;
    font-size: 17px;
  }
#li {
    font-family: 'Lora', serif;
    font-style: italic;
  }
a {
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
  font-size: 15px;
}
.navbar-brand {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-style: italic;
  font-style: bold;
}
.navbar-text {
    color: black;
    font-family: 'Lora', serif;
    font-size: 15px;
    font-style: bold;
    display:inline-block;
  }
.material-icons {
    font-size: 36px;
    top: 8px;
    position: relative;
  }
img {
  float: right;
}
h4 {
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
  font-size: 18px;
}
.btn {
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
  font-size: 12px;
}
input, btn-default {
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
  font-size: 12px;
}
.modal-footer .btn {
    margin-bottom: 0;
    margin-left: 5px;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    font-size: 12px;
}
input[type=file] {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
.container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;
}
img.contentImage {
  width: 100%;
  height: 100%;
}
.contentCaption {
  width: 100%;
  text-align: center;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #e9e9e9;
  color: #2f2f2f;
}
@media (min-width: 1200px) {
.col-lg-6 {
    width: 50%;
  }
}
.fa-lg {
  width: 100%;
  float: left;
  background-color: #e9e9e9;
  padding: 5px;
}